body{background-color:#516f8d;}
.name{background-color:#ff0000;color:#FFFFFF;}
.email{background-color:#ff0000;color:#FFFFFF;}
.mensage{background-color:#ff0000;color:#FFFFFF;}
.submit{background-color:#ff0000;color:#FFFFFF;}
.reset{background-color:#ff0000;color:#FFFFFF;}
.text{color:#ff0000;}
.div{background-color:white;width:50%;text-align:center;margin:auto;margin-top:150;}